@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-180 {
	transform: rotate(180deg);
  }

  .dark\:bg-gray-700 {
	--tw-bg-opacity: 1;
	background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1));
}